.login {
  width: 300px;
  margin: 20px auto;
}

.login__title {
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__label {
  display: flex;
  margin-bottom: 10px;
}

.login__input {
  width: 230px;
  margin-left: auto;
}